:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

body {
  transition: background-color .25s, color .25s;
  color: var(--color-text);
  background-color: var(--paper-background);
}

#app {
  max-width: 60vh;
  margin: 0 auto;
}

.var-card__footer {
  margin-top: 0 !important;
}

body {
  /*margin: 0;*/
  /*display: flex;*/
  /*place-items: center;*/
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

.pl-\[8px\] {
  padding-left: 8px;
}


/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/
.comment-comment-reply {
  font-size: var(--card-description-font-size);
  color: var(--card-description-color);
  word-break: break-all;
  transition: padding .25s, margin .25s, font-size .25s;
  white-space: break-spaces;
}
.comment-comment-reply-time {
  text-align: right;
}
.comment-user-info {
  padding: 12px 12px 0;
  display: flex;
  align-items: center;
  gap: 1vh;
}
.comment-user-info-name {
  color: var(--card-title-color);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.floating-comment {
  padding: 8px 12px;
  font-size: var(--card-description-font-size);
  color: var(--card-description-color);
  word-break: break-all;
  transition: padding .25s, margin .25s, font-size .25s;
  white-space: break-spaces;
}
.comment-comment-reply-message {
  padding: 8px 12px;
  display: flex;
  gap: 12px;
}
.comment-comment-main{
  padding: 8px 12px;
  display: flex;
  gap: 8px;
}
.comment-comment-content {
  flex: 1;
  padding: 0 8px;
}
.comment-comment-username {
  font-size: var(--font-size-lg);
  color: var(--card-title-color);
  word-break: break-word;
  transition: padding .25s, margin .25s, font-size .25s;
}